body {
  font-family: sans-serif;
  text-align: center;
  background-color: lightblue;
  color: rgb(46, 46, 46);
  padding: 0;
  margin: 0;
}

/*---- NAV BAR ----*/

#nav-bar {
  padding: 1px;
  margin: 0;
  background-color: rgb(46, 46, 46);
  color: white;
}

#nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
}

#game {
  color: lightblue;
}

#nav-home {
  justify-self: left;
}

#nav-cat {
  justify-self: right;
  margin-top: 5px;
}

#nav-users {
  justify-self: center;
  margin-top: 5px;
}

/*---- GAME LIST ----*/

#gamesList {
  padding: 40px;
  margin: 20px;
  border-radius: 30px;
  list-style: none;
  display: inline-grid;
}

#gamesList li {
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

#gamesList a:link {
  color: black;
  text-decoration: none;
}

#gamesList a:visited {
  color: black;
  text-decoration: none;
}

#gamesList a:hover {
  transition: 0.2s;
  transition-timing-function: linear;
  color: blueviolet;
  text-decoration: none;
}

#gamesList a:active {
  color: lightblue;
  text-decoration: none;
}

#gamesList img {
  border-radius: 20px;
}

/*---- Single Card ----*/

#single-card {
  background-color: white;
  margin: 40px;
  border-radius: 40px;
  display: inline-grid;
  /* grid-template-columns: 1fr; */
}

/* #single-title {
  grid-column-start: 1;
  grid-column-end: 2;
} */
